*.o
*.dll
*.dylib
*libretro*.lib
*libretro*.so
*libretro*.a
*.d
*.js
*.bc
asm_defines_nasm.h
asm_defines_gas.h
.vscode/ipch/*
.vscode/c_cpp_properties.json
linker.list
build_tico
*.a
RMG
build_nvk
build_tico_standalone
.tico_build_mode
.DS_Store
# device logs and profiles copied off the SD card
/logs/
/mupen64plus.txt
/profile.on
/profile.txt
/stacks.txt
